{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["ie <= 9"],
                "uglify": true,
                "useBuiltIns": true,
                "debug": true
            }
        }]
    ],
    "minified": true,
    "comments": false,
    "compact": true
}