{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["ie <= 9"],
                "uglify": false,
                "useBuiltIns": true,
                "debug": true
            }
        }]
    ],
    "minified": false,
    "comments": false,
    "plugins": ["transform-remove-strict-mode", "transform-function-bind", "transform-remove-console"]
}