<div>
    <div class="pd-30 text-center animated infinite flash" ng-if="!data.contentlist"> 数据加载中... </div>
    <ul class="em-14">
        <li class="lst1 pd-20 mg-b-20 clear" ng-if="!item.video_uri" ng-repeat="item in data.contentlist">
            <a ng-href="{{item.weixin_url}}" target="_blank">
                <div class="pd-b-5 em-18">{{item.text}}</div>
                <div class="pd-tb-10" ng-if="item.image0">
                    <img ng-src="{{item.image0}}" style="max-width: 100%; max-height:300px;"> </div>
            </a>
        </li>
    </ul>
</div>