<div hd data="common.dt.nav"></div>
<div class="ct w-1140">
    <div class="container-fluid">
        <div class="row">
            <div class="pd-20">
                <div class="btn-group pd-t-20" uib-dropdown dropdown-append-to-body>
                    <button id="btn-append-to-body" type="button" class="btn btn-info" uib-dropdown-toggle>{{news.selectedChanelName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="item in news.chanelNames">
                            <a href="" ng-click="getNews(item, true)">{{item}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <list data="news.data"></list>
            </div>
            <div class="col-md-4">
                <div weather></div>
                <div bdj></div>
            </div>
        </div>
    </div>
</div>
<div ft data="common.dt.ft"></div>