$color: #000A0D, #1B1C1E, #EAEAEA, #FFF, #770127, #FFD8E5, #555;
$num: 3.125, 1.875;
@mixin s1 {
    border: 0;
    outline: 0;
    background-color: nth($color, 5);
    color: nth($color, 6);
}
.bg-1 {
    background-color: nth($color, 7);
}
.bg-2 {
    background-color: nth($color, 2);
}
.hd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: #{nth($num, 1)}em;
    line-height: #{nth($num, 1)}em;
    background: nth($color, 1);
    color: nth($color, 4);
    a {
        color: nth($color, 4);
        &:active, &:hover, &:focus {
            @include s1;
        }
    }
    .active {
        @include s1;
    }
    .translate {
        position: absolute;
        top: 0;
        right: 10px;
    }
}
.bd {
    position: absolute;
    top: #{nth($num, 1)}em;
    left: 0;
    right: 0;
    bottom: #{nth($num, 2) * 16 + 2}px;
    min-height: 300px;
}
.ft {
    position: fixed;
    bottom: 0;
    right: 0;
    height: #{nth($num, 2)}em;
    line-height: #{nth($num, 2)}em;
    border-top: 2px nth($color, 6) solid;
    a, &:active, &:hover, &:focus {
        color: nth($color, 2);
    }
}
.sld {
    width: auto;
}
@media (min-width: 992px) {
    .sld {
        width: 1140px;
    }
}