$color: #1B1C1E, #1B1C1E, #EAEAEA, #FFF;
.hd {
    height: 3.75em;
    background: nth($color, 1);
    color: nth($color, 4);
}
.bd {
    min-height: 300px;
}
.ft {
    height: 30px;
    border-top: 1px solid nth($color, 3);
}